<div class="form-add">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Name:</mat-label>
            <input matInput type="text" formControlName="name" required>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label> MealType: </mat-label>
            <mat-select formControlName="mealType" required>
                <mat-option>choose</mat-option>
                <mat-option *ngFor="let el of mealOptions" [value]="el.value">
                    {{el.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label> Description: </mat-label>
            <textarea matInput aria-multiline="true" rows="3" columns="20" formControlName="description" required minlength="50"></textarea>
        </mat-form-field>
        
        <div formArrayName="ingredients">

            <label>
                Ingredients:
            </label>
            
            <button type="button" mat-raised-button color="primary" (click)="addIngredient()">Add</button>
            <span> / </span>
            <button type="button" mat-raised-button color="primary" (click)="removeIngredient()">Remove</button>
             
            <div *ngFor="let el of ingredients.controls; let i=index">
                <div [formGroupName]="i">
                    <mat-form-field appearance="outline">
                        <mat-label>
                            Name </mat-label>
                        <input matInput type="text" formControlName="name" required>

                    </mat-form-field>
                    
                    <mat-form-field appearance="outline">
                        <mat-label>
                            Quanity </mat-label>
                        <input matInput type="number" formControlName="quantity" required>
                    </mat-form-field>
                    
                    <mat-form-field appearance="outline">
                        <mat-label> Measure </mat-label>
                        <mat-select formControlName="measure" required>
                            <mat-option>choose</mat-option>
                            <mat-option *ngFor="let el of measures" [value]="el.value">
                                {{el.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
            </div>
        </div>
        
        <button type="submit" [disabled]="!recipeForm.valid" mat-raised-button color="accent"> Save </button>
    </form>
</div>